:root {

  /* These colours are (mainly) used by the
     Container Tabs Plugin */
  --uc-identity-colour-blue:      #89B4FA;
  --uc-identity-colour-turquoise: #94E2D5;
  --uc-identity-colour-green:     #A6E3A1;
  --uc-identity-colour-yellow:    #F9E2AF;
  --uc-identity-colour-orange:    #FAB387;
  --uc-identity-colour-red:       #F38BA8;
  --uc-identity-colour-pink:      #F5C2E7;
  --uc-identity-colour-purple:    #CBA6F7;

     /*  Cascades main Colour Scheme */
  --uc-base-colour:               #1E1E2E;
  --uc-highlight-colour:          #181825;
  --uc-inverted-colour:           #CDD6F4;
  --uc-muted-colour:              #6C7086;
  --uc-accent-colour:             var(--uc-identity-colour-purple);

    /* Container tabs indicator glow */
  --uc-identity-glow: 0 1px 5px 1px;
}


#topmenu { display: none !important; }


#tablist-wrapper,
#pinnedtablist { background: var(--uc-base-colour); }

.tab:hover,
.tab.active { background: var(--uc-highlight-colour); }



#tablist-wrapper .tab-title-wrapper {

  opacity: 0;
  transform: translateX(-10px);

  transition: all 200ms ease;
  transition-delay: 0ms;

}


body:hover #tablist-wrapper .tab-title-wrapper {

  opacity: 1;
  transform: translateX(0);

  transition-delay: 50ms;

}



.tab,
.tab.active { border-bottom: none !important; }



#pinnedtablist:not(.compact) .tab { padding: 6px; }
#tablist .tab { padding: 0 0 0 6px; }



.tab { overflow: visible; }



#pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context::before,
#tablist .tab[data-identity-color] .tab-context::before {

  position: absolute;
  top: 4px; bottom: 4px;

  width: 2px;

  background: var(--identity-color);

  box-shadow: var(--uc-identity-glow) var(--identity-color) !important;

  content: '';

}

#tablist .tab[data-identity-color] .tab-context::before { left: -3px; }


#pinnedtablist:not(.compact) .tab .tab-pin,
.tab-close,
.tab-loading-burst { display: none; }

#pinnedtablist:not(.compact) .tab[data-identity-color] .tab-context { box-shadow: none !important; }

[data-identity-color="blue"]      { --identity-color: var(--uc-identity-colour-blue); }
[data-identity-color="turquoise"] { --identity-color: var(--uc-identity-colour-turquoise); }
[data-identity-color="green"]     { --identity-color: var(--uc-identity-colour-green); }
[data-identity-color="yellow"]    { --identity-color: var(--uc-identity-colour-yellow); }
[data-identity-color="orange"]    { --identity-color: var(--uc-identity-colour-orange); }
[data-identity-color="red"]       { --identity-color: var(--uc-identity-colour-red); }
[data-identity-color="pink"]      { --identity-color: var(--uc-identity-colour-pink); }
[data-identity-color="purple"]    { --identity-color: var(--uc-identity-colour-purple); }
